# usual stuff
node_modules
dist

# env
.env

# logs
logs

# build
build

# keypair
keypair.json
keypairtmr.json

rpcs.json

# config
config.json
rpcs.json

.github/workflows/build-arm.yml
.github/workflows/build-linux.yml